services:
  xombi:
    build:
      context: .
      dockerfile: Dockerfile
    user: "node"
    working_dir: /home/node/app
    volumes:
      - ./:/home/node/app
      - /home/node/app/node_modules
    environment:
      XMTP_ENV: "production"
    env_file:
      - .env
    ports:
      - "3000:3000"
    restart: unless-stopped